*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    
}

body{
    width: 100%;
    height: 100vh;
    background-color:#f4f4f4;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background: linear-gradient(to right, #3064a2, #beeabe);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

a{
    text-decoration: none;
    color: #fff;
}

footer{
    background: linear-gradient(to right, #3064a2, #beeabe);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.15);

}

main{
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content{
    display: flex;
    flex-direction: column;
}

.text p{
    width: 75%;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
}
    
footer span{
    font-size: 0.8em;
    font-weight: 200;
}

.main-content h2{
margin-bottom: 2%;
font-size: 2.2em;
}

.text{
    margin-bottom: 10%;
}

.titulo{
    color: #222222;
    
}

.h2{
    color:#3064a2;
}

.projetos{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.card{
    width: 120px;
    height: 120px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-right: 1.8em;
    margin-left: 1.8em;
    cursor: pointer;
    text-align: center;
    transition: box-shadow 0.25s ease-in-out;
}

.card img{
width: 90%;
height: 90%;
border-radius: 30px;
vertical-align: middle;
}

.card:hover{
    box-shadow: 0px 0px 8px gray;
}

header h1{
    font-size: 2.8em;
    font-weight: 200;
    cursor: pointer;
}

header nav{
    display: flex;
    align-items: center;
}

header nav a{
    margin-left: 1.3em;
    font-size: 1.5em;
}

header h1, a{
    color: white;
    transition: 0.2s ease-in-out;
}

main figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main figure img{
    width: 400;
    height: 400px;
    border-radius: 300px;
    margin-bottom: 20px;
    border: 2px solid lightgray;
    transition: 0,2s ease-in-out;
}

main figure img:hover{
    box-shadow: 0px 0px 8px gray;
}

